cd ~/Desktop/Customer360_Intelligence
cat > requirements.txt << 'EOF'
pandas
numpy
matplotlib
seaborn
plotly
sqlalchemy
scikit-learn
xgboost
joblib
altair==4.2.2
streamlit==1.22.0
protobuf==3.20.3
EOF